<!--  This file is app/views/movies/index.html.erb -->
<h2>All Movies</h2>


<%= form_tag movies_path, method: :get, id: 'ratings_form' do %>
  Include:
  <% @all_ratings.each do |rating| %>
    <div class="form-check  form-check-inline">
      <%= label_tag "ratings[#{rating}]", rating, class: 'form-check-label' %>
      <%= check_box_tag "ratings[#{rating}]", 1, @ratings_hash.include?(rating), class: 'form-check-input' %>
    </div>
  <% end %>
  <%= submit_tag 'Refresh', id: 'ratings_submit', class: 'btn btn-primary' %>
<% end %>

<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th class="<%= @class_title %>">
        <%= link_to 'Movies Title', movies_path(:sort => 'title'), :id => 'title_header, class: @class_title' %> 
      </th>
      
       <th class="<%= @class_rating %>">
        <%= link_to 'Rating', movies_path(:sort => 'ratings'), :id => 'ratings_header, class: @class_rating' %> 
      </th>
      
      <th class="<%= @class_release_date %>">
        <%= link_to 'Release Date', movies_path(:sort => 'release_date'), :id => 'release_date_header, class: @class_release_date' %> 
      </th>
      
      <th class="<%= @class_movie_info %>">
        <%= link_to 'Movie Details', movies_path(:sort => 'movies_path'), :id => 'movies_path_header, class: @class_movie_info' %> 
      </th>
      
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= movie.title %>
        </td>
        <td>
          <%= movie.rating %>
        </td>
        <td>
          <%= movie.release_date %>
        </td>
        <td>
          <%= link_to "More about #{movie.title}", movie_path(movie) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new movie', new_movie_path, :class => 'btn btn-primary' %>
